@import '../../../styles/global.variables.scss';

.all-cars-gallery {

    .all-cars-container {
        display: flex;
        flex-direction: column;

        @media (min-width: breakpoint(sm)) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    .car-thumb-container {
        height: 200px;

        @media (min-width: breakpoint(sm)) {
            width: calc(100% / 3);
            height: 150px;
            padding-right: 1rem;
            padding-bottom: .5rem;
        }

        &:nth-of-type(1n + 4) {
            
            @media (min-width: breakpoint(ssm)) {
                padding-bottom: 0;
                padding-top: .5rem;
            }
        }
    }
}   