@import '../../../styles/global.variables.scss';

.hero {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: breakpoint(sm)) {
        flex-direction: row;
        justify-content: space-between;
    }

    .title {
        font-size: px-to-rem(20px);
        margin-bottom: 12px;
        text-transform: uppercase;

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(24px);
        }
    }

    .slick-dots {
        margin-top: 10px;
        position: static;

        ul {
            display: flex;
            justify-content: flex-start;

            @media (min-width: breakpoint(sm)) {
                flex-direction: column;
                align-items: flex-end;
                position: absolute;
                top: 0;
                right: -25px;
            }

            @media (min-width: breakpoint(md)) {
                right: -30px;
            }

            > li:first-of-type {
                margin-left: 0;
            }
        }
    }

    .hero-slider {
        margin-bottom: 20px;
        @media (min-width: breakpoint(sm)) {
            width: 55%;
            padding-right: 25px;
        }  

        @media (min-width: breakpoint(md)) {
            width: 52.5%;
            padding-right: 30px;
        }

        @media (min-width: breakpoint(lg)) {
            
        }
    }

    .slide-container {
        width: 50%;
        height: 200px;

        @media (min-width: breakpoint(sm)) {
            height: 250px;
        }

        @media (min-width: breakpoint(md)) {
            height: 300px;
        }

        @media (min-width: breakpoint(lg)) {
            height: 350px;
        }
    }

    .hero-text {
        max-width: 95%;

        @media (min-width: breakpoint(sm)) {
            padding-right: 5%;
            max-width: 340px;
        }    

        @media (min-width: breakpoint(lg)) {
            max-width: 400px;
        }
    }
}