@import '../../../styles/global.variables.scss';

.hero {
    display: flex;
    flex-direction: column-reverse;

    .title {
        font-size: px-to-rem(24px);
        text-transform: uppercase;
    }

    .hero-slider {

        @media (min-width: breakpoint(sm)) {
            width: 50%;
        }  
    }

    .slide-container {
        width: 50%;
        height: 500px;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}