@import '../../../styles/global.variables.scss';

.featured-cars-carousel {
    margin: 60px auto 60px auto;


    @media (min-width: breakpoint(sm)) {
        max-width: 768px;
        margin: 60px auto 120px auto;
    }

    @media (min-width: breakpoint(md)) {
        max-width: 924px;
    }

    @media (min-width: breakpoint(lg)) {
        max-width: 1024px;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .arrow {
        &::before, &::after {
            background: color(body_txt);
        }
    }

    @media (min-width: breakpoint(sm)) {
        .slick-slide {
            margin-top: 30px;
        }
    }

    .slick-dots {
        color: color(accent);
        position: relative;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 35px;

        @media (min-width: breakpoint(sm)) {
            position: static;
        }

        .arrow-left, .arrow-right {
            @media (min-width: breakpoint(sm)) {
                position: absolute;
                width: 16px;
                height: 16px;

                &::before, &::after {
                    width: 3px;
                }
            }
        }

        .arrow-left {
            margin-right: 5px;

            @media (min-width: breakpoint(sm)) {
                left: 0;
            }
        }

        .arrow-right {
            margin-left: 5px;

            @media (min-width: breakpoint(sm)) {
                right: 0;
            }
        }

        ul {
            display: flex;
            align-items: center;

            @media (min-width: breakpoint(sm)) {
                position: absolute;
                top: 0;
                right: 0;
                flex-direction: column;
            }
        }

        li {
            position: relative;
            border: 1px solid;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            margin: 0 5px;

            @media (min-width: breakpoint(sm)) { 
                margin: 3px 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 100%;
                width: 14px;
                height: 14px;
                background: color(accent);
                opacity: 0;
                transition: opacity .15s ease;

                // @media (min-width: breakpoint(sm)) {
                //     width: 16px;
                //     height: 16px;
                // }
            }

            button {
                position: relative;
                z-index: 1;

                &::before {
                    display: none;
                }
            }

            &.slick-active::before {
                opacity: 1;
            }
        }
    }

    // .dot-controls-container {
    //     color: color(accent);

    //     .dot {
    //         position: relative;
    //         border: 1px solid;
    //         width: 16px;
    //         height: 16px;
    //         border-radius: 100%;
    //         margin: 0 5px;

    //         &::before {
    //             content: '';
    //             position: absolute;
    //             left: -1px;
    //             top: -1px;
    //             border-radius: 100%;
    //             width: 16px;
    //             height: 16px;
    //             background: color(accent);
    //             opacity: 0;
    //             transition: opacity .15s ease;
    //         }

    //         &.active::before {
    //             opacity: 1;
    //         }
    //     }
    // }

    // button.next, button.prev {
    //     display: block;
    //     position: relative;
    //     height: 8px;
    //     width: 8px;
    //     top: calc(50% - 10px);
    //     -webkit-transition: -webkit-transform 0.2s ease-out;
    //     -webkit-transition-delay: 0.2s;
    //     transition: transform 0.2s ease-out 0.2s;

    //     &::before, &::after {
    //         content: " ";
    //         position: absolute;
    //         right: 0;
    //         height: 100%;
    //         width: 2px;
    //         background-color: color(body_txt);
    //         opacity: 0.7;
    //         -webkit-transform-origin: 50% 100% 0;
    //         transform-origin: 50% 100% 0;
    //         -webkit-transition: -webkit-transform 0.15s ease-out;
    //         transition: transform 0.15s ease-out;
    //     }
    // }

    // button.next {
    //     right: -8px;

    //     &::before {
    //         top: -50%;
    //         -webkit-transform: rotate(-45deg);
    //         transform: rotate(-45deg);
    //     }

    //     &::after {
    //         top: calc(-50% + -1px);
    //         -webkit-transform: rotate(-135deg);
    //         transform: rotate(-135deg);
    //     }

    //     &:hover {
    //         &::before {
    //             transform: rotate(-30deg);
    //         }
    //         &::after {
    //             transform: rotate(-150deg);
    //         }
    //     }
    // }

    // button.prev {
    //     left: -8px;

    //     &::before {
    //         left: 0;
    //         top: -50%;
    //         -webkit-transform: rotate(45deg);
    //         transform: rotate(45deg);
    //     }

    //     &::after {
    //         left: 0;
    //         top: calc(-50% + -1px);
    //         -webkit-transform: rotate(135deg);
    //         transform: rotate(135deg);
    //     }

    //     &:hover {
    //         &::before {
    //             transform: rotate(30deg);
    //         }
    //         &::after {
    //             transform: rotate(150deg);
    //         }
    //     }
    // }
}