@import '../../../styles/global.variables.scss';

div.content-area-row {
    display: flex;
    flex-wrap: wrap;

    > div {

        @media (min-width: breakpoint(sm)) {
            flex: 1;
        }
       
    }
}