/*******************************************************
********************************************************
**
**  README SONNNNNzzzzz
**
**  1. This file controls the entire application theme view 
**
********************************************************
********************************************************/



/*******************************************************
********************************************************
**
**  Fonts
**
********************************************************
********************************************************/


$font_primary: 'Roboto';
$font_base: $font_primary, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif' !default;


/*******************************************************
********************************************************
**
**  Grid
**
********************************************************
********************************************************/


$breakpoints: (
    xs: 0,
    sm: 640px,
    md: 980px, 
    lg: 1200px,
);

$container_max: 1150px; //possibly should change to 1170px + 8.4rem??

:export { 
    breakpointSm: strip-unit(breakpoint(sm));
    breakpointMd: strip-unit(breakpoint(md));
    breakpointLg: strip-unit(breakpoint(lg));
};


/*******************************************************
********************************************************
**
**  Colors
**
********************************************************
********************************************************/


$colors: (
    primary: #887C6B,
    primary_medium: rgba(136, 124, 107, 0.5),
    primary_light: rgba(136, 124, 107, 0.3),
    primary_extra_light: rgba(136, 124, 107, 0.15),
    secondary: #404448, // used in hat & for some text headers
    secondary_medium: #C4C4C4,
    accent: rgba(217, 103, 4, 0.7), //#D96704 -- original - creative was at 70% opacity
    accent_secondary: #E5E5E5,
    body_txt: #666666,
    success: #75958C,
    error: rgb(149, 117, 117),
    facebook: rgba(10, 85, 155, 0.9), // #0A569B -- original value - creative was at 90% opacity
);


/*******************************************************
********************************************************
**
**  Custom Animations
**
********************************************************
********************************************************/


$custom_animation: cubic-bezier(0.85, 0.25, 0.25, 0.95);