/*******************************************************
********************************************************
**
**  Globals
**
********************************************************
********************************************************/


// @import './vendor/typographic/scss/typographic.scss';
@import './vendor/slick/slick.scss';
@import './global.variables.scss';
@import './reset-normalize.styles.scss';

body, html {
  margin: 0;
  padding: 0;
  font-family: $font_base;

}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: breakpoint(sm)){
  .container {
    padding-right: 2.8rem; // 44.8px
    padding-left: 2.8rem;
  }
}

@media (min-width: breakpoint(md)){ 
  .container {
      padding-right: 4.2rem;
      padding-left: 4.2rem;
  }
}

@media (min-width: breakpoint(lg)){
  .container {
      max-width: calc(#{$container_max} + 8.4rem); 
      box-sizing: border-box;
  }
}

@keyframes exitScreen {
  100% {
    transform: translateX(-9999px);
  }
}

.page-background {
  background-image: url('../images/background-repeatable.png');
  position: fixed;
  opacity: .5;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
}

.module {
  padding-top: 60px;
  padding-bottom: 60px;

  &.has-inner-modules {
      padding-bottom: 15px;

      @media (min-width: breakpoint(md)) {
          padding-bottom: 60px;
      }
  }

  @media (min-width: breakpoint(md)) {
      padding-top: 120px;
      padding-bottom: 120px;
  }
}

.inner-module {
  margin-bottom: 45px;

  @media (min-width: breakpoint(md)) {
      margin-bottom: 60px;
  }
}

button:focus {
  outline: 0;
}

  
/*******************************************************
********************************************************
**
**  Font Styles
**
********************************************************
********************************************************/


main {
  // 

    h1, h2, h3, h4, h5, h6 {
      color: color(body_txt)
    }

    .light-bg {
      h1, h2, h3, h4, h5, h6 {
        color: color(secondary);
      }
    }

    h3 {
      font-size: px-to-rem(20px);

      @media (min-width: breakpoint(md)) {
          font-size: px-to-rem(24px);
      }
  }
    
    p {
      font-weight:400; 
      font-style: normal;
      color: color(body_txt);
    }

    strong {
      font-weight: 900;
    }
}

.the-content { // default styling for wordpress WYSIWIG
  // @include typographic;
  h1 {
      font-size: px-to-rem(32px);
      color: color(secondary);
      font-weight: 500;
      line-height: 40px;

      @media (min-width: breakpoint(md)) {
          font-size: px-to-rem(48px);
      }

      em {
          font-weight: 300;
      }
  }

  h3 {
      font-size: px-to-rem(20px);
      color: color(secondary);
      font-weight: bold;
      margin-bottom: 20px;

      @media (min-width: breakpoint(md)) {
          font-size: px-to-rem(24px);
      }
  }

  p {
      margin-bottom: 20px;
      line-height: 26px;
      font-size: px-ot-rem(16px);

      @media (min-width: breakpoint(md)) {
        line-height: 30px;
        font-size: px-ot-rem(18px);
      }
  }
}


/*******************************************************
********************************************************
**
**  Helpers
**
********************************************************
********************************************************/


.success {
  color: color(success);
}

.grid-x {
  display: flex;
  flex-wrap: wrap;
}

.facebook {
  color: color(facebook);
}

.bold {
  font-weight: 700;
}

.show-for-sr {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ccc-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 35px;
  border-radius: 2px;
  font-size: px-to-rem(13px);
  color: color(success);
  border: 1px solid;
  transition: .2s ease;

  @media (min-width: breakpoint(md)) {
      font-size: px-to-rem(15px);
  }

  &:hover {
      color: color(accent);
  }
}

.light-bg {
    background: rgba(255, 255, 255, 0.75);
}


/*******************************************************
********************************************************
**
**  Animations
**
********************************************************
********************************************************/


@keyframes leaveScreen {
  100%{
    transform: translateX(9999px)
  }
}