@import '../../css/global.styles.scss';

header {
    height: 70px;
    box-shadow: 0 3px 3px rgba(0,0,0,.28);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .navigation {
        display: none;
    }
}