@import '../../styles/global.variables.scss';

header {
    // position: relative;
    background: color(primary_light);
    text-transform: uppercase;
    box-shadow: 5px 10px 4px #00000011;
    color: color(body_txt);

    nav {
        height: 56px;
        display: flex;
        justify-content: space-between;
    }
    @keyframes leaveScreen {
        100%{
          transform: translateX(9999px)
        }
      }
    .nav-overlay {
        background: color(primary_medium);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .3s ease;
        animation: .001s linear .3s 1 leaveScreen forwards;

        &.visible {
            opacity: 1;
            animation: unset;
        }
    }

    .mobile-right, .mobile-left {
        display: flex;
        align-items: center;
    }

    .navigation {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translateX(100%);
        z-index: 1; 
        display: flex;
        flex-direction: column;
        transition: transform .5s $custom_animation;

      

        &.visible {
            transform: translateX(0);
        }

        li.close, li a {
            // font-weight: 800;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: color(accent_secondary);
            padding: .75rem 12.5px;
            margin: .25rem 12.5px;
            border-top: 1px solid color(body_txt);
            border-bottom: 1px solid color(body_txt);
            transition: all .15s ease;
        }

        li a:hover, .active-nav {
            background: color(secondary_medium);
            color: color(body_txt);
            border-top: 1px solid color(accent_secondary);
            border-bottom: 1px solid color(accent_secondary);

            .menu-arrow {    
                &::before, &::after {
                    background-color: color(body_txt);
                }             
            }
        }

        a {
            font-weight: 900;
        }

        .menu-arrow {
            height: 10px;
            width: 8px;
            margin-right: 10px;

            &::before, &::after {
                transition: all .15s ease;
                background-color: color(accent_secondary);
            }
            
        }

        .left, .right {
            position: relative;
            margin-left: auto;
            width: 246px;
            background: color(body_txt);
        }
        .right {
           flex: 1;
        }

        li.close {
            justify-content: flex-end;
        }

        
    }

    .logo-text {
        color: #887C6B;
        font-size: px-to-rem(15px);
        line-height: 15px;
        margin-left: 2px;
        span {
            display: block;
        }
    }

    .facebook.mobile {
        margin-right: 1rem;
    }

    .facebook.desktop {
        display: none;
    }

    a {
        font-weight: 700;
        font-size: px-to-rem(14px);
    }
}