@import '../../styles/global.variables.scss';

header {
    position: relative;
    background: color(primary_light);
    text-transform: uppercase;
    box-shadow: 5px 10px 4px #00000011;
    color: color(body_txt);

    nav {
        height: 56px;
        display: flex;
        justify-content: space-between;
    }

    .mobile-right, .mobile-left {
        display: flex;
        align-items: center;
    }

    .navigation {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: rgba(168, 168, 168, 0.904);
        
        

        li {
            // font-weight: 800;
            background: color(primary_light);
            padding: 1rem 0;
            border-top: 1px solid gray;
            border-bottom: 1px solid gray;
        }

        a {
            font-weight: 900;
        }

        .left, .right {
            // background: color(primary_light);
        }
    }

    .logo-text {
        color: #887C6B;
        font-size: px-to-rem(15px);
        line-height: 15px;
        margin-left: 2px;
        span {
            display: block;
        }
    }

    .facebook.mobile {
        margin-right: 1rem;
    }

    .facebook.desktop {
        display: none;
    }

    a {
        font-weight: 700;
        font-size: px-to-rem(14px);
    }
}