@import '../../../../styles/global.variables.scss';

.featured-car-slide {
    display: block;
    overflow-x: hidden;
    position: relative;
    max-width: 350px;
    margin: 0 auto;

    @media (min-width: breakpoint(sm)) {
        max-width: 700px;
    }

    @media (min-width: breakpoint(md)) {
        max-width: 900px;
    }

    @media (min-width: breakpoint(lg)) {
        max-width: 1100px;
    }

    .car-image {
        width: 100%;

        &.desktop {
            display: none;
        }

        @media (min-width: breakpoint(sm)) {
            margin-top: 40px;
            &.desktop {
                display: block;
            }

            &.mobile {
                display: none;
            }
        }

        @media (min-width: breakpoint(lg)) {
            margin-top: 50px;
        }
        
    }
    
    .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .car-name {
        text-transform: uppercase;
        margin-bottom: 15px;

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(20px);
        }
    }

    .car-year {
        width: 63%;
    }

    .availability {
        font-size: px-to-rem(14px);
        display: block;
        margin-bottom: 2px;

        @media (min-width: breakpoint(lg)) {
            font-size: px-to-rem(16px);
        }
    }
}