@import '../../styles/global.variables.scss';

footer {
    background: color(primary_extra_light);
    color: color(body_txt);
    width: 100%;
    bottom: 0;

    .top-bar {
        padding-top: 45px;
        padding-bottom: 45px;

        p {
            font-size: px-to-rem(12px);
            margin: 2px 0;
        }

        .address {
            font-size: px-to-rem(10px);
            text-decoration: underline;
            margin: 3px 0 8px 0;
        }

        .footer-logo {
            width: 100px;

            // @media (min-width: breakpoint(sm)) {
            //     width: 80px;
            // }
        }
    }

    .logo-copyright-container {
        margin-top: 30px;

        @media (min-width: breakpoint(sm)) {
            margin-top: 1rem;
        }
    }

    p.copyright {
        margin-top: 8px;
        display: flex;
        align-items: flex-end;
    }

    .footer-facebook-icon {
        margin-right: 10px;
    }

    .ccc-logo-title {
        font-size: px-to-rem(24px);
        font-weight: 500;
        margin-bottom: 12px;

        @media (min-width: breakpoint(md)) {
            font-size: px-to-rem(28px);
        }
    }

    .menu-logo-container {
        @media (min-width: breakpoint(sm)) {
            display: flex;
        }
    }

    .footer-menu {
        columns: 2;

        @media (min-width: breakpoint(sm)) {
            columns: 3;
            width: 70%;
        }
    }

    li {
        padding-top: .75rem;

        a {
            font-weight: 700;
            font-size: px-to-rem(12px);
            text-transform: uppercase;
    
            @media (min-width: breakpoint(md)) {
                position: relative;
                overflow-x: hidden;
            }
    
            @media (min-width: breakpoint(lg)) {
                font-size: px-to-rem(14px);
            }
    
            &:hover {
                color: color(accent);
            }
        }
    }

    

    .bottom-bar {
        background: color(primary_extra_light);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 32px;

        p {
            font-weight: 300;
            font-size: px-to-rem(14px);
            position: relative;
            letter-spacing: 5px;

            span.last-letter {
                letter-spacing: 0px;
            }

            &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                border-bottom: 1px solid;
                top: 50%;
                transform: translateY(-50%);
            }

            &::before {
                left: calc(-100% - 3px);
            }

            &::after {
                right: calc(-100% - 3px);
            }

        }
    }
}