@import '../../../css/global.variables.scss';

.hamburger-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 22px;
    height: 18px;
    transition: all .45s ease;

    @media screen and (min-width: $breakpoint_small){
        display: none;
    }

    .hamburger {
        display: inline;
        transition: all .45s ease;
        border-bottom: 2px solid black;
        width: 17px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

       
    }

    &::before {
        left: 0;
        position: absolute;
        margin-top: -7px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: block;
        border-bottom: 2px solid black;
        width: 100%;
        transition: all .45s ease;
    }

    &::after {
        margin-top: 8px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: block;
        border-bottom: 2px solid black;
        width: 100%;
        transition: all .45s ease;
    }

    &.active {

        .hamburger {
                width: 0;
        }
        
        &::after {
            transform: rotate(-45deg);
            margin: 0;
        }

        &::before {
            margin: 0;
            transform: rotate(45deg);
        }
    }

}