@import '../../../styles/global.variables.scss';

.featured-cars-listing {


    
}

.car-listing {
    .car-thumb {
        position: relative;
        
        img {
            max-width: 100%;
        }

        .availability {
            position: absolute;
            top: 12px;
            left: 12px;
        }
    }
}