@import '../../../styles/global.variables.scss';

.featured-cars-listing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media (min-width: breakpoint(sm)) {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -1rem;
        margin-right: -1rem;
    }
}

.car-listing {

    @media (min-width: breakpoint(sm)) {
        box-sizing: border-box;
        width: 33%;
        padding: 0 1rem;
    }

    .car-thumb {
        position: relative;
        height: 220px;
        width: 100%;
        

        @media (min-width: breakpoint(sm)) {
            height: 150px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: color(secondary);
            opacity: .3;
            width: 100%;
            height: 100%;
        }

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .availability {
            font-size: px-to-rem(12px);
            position: absolute;
            top: 12px;
            left: 12px;
            text-transform: uppercase;
        }        
    }

    .car-text {
        border-bottom: 1px solid color(secondary);
        padding: .5rem 0;
        .car-name {
            text-transform: uppercase;
            font-weight: bold;
            font-size: px-to-rem(16px);
        }

        .model {
            font-size: px-to-rem(14px);
            font-weight: 500;
            margin-bottom: .1rem;
        }
    }
}
