.close-btn {
    display: flex;
    width: 24px;
    height: 24px;
    position: relative;
    align-items: center;
    justify-content: center;

    &::before, &::after {
        content: "";
        display: block;
        position: absolute;
        border-bottom: 2px solid;
        width: 24px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }
}