@import '../../../../styles/global.variables.scss';

.image-with-text {

    @media (min-width: breakpoint(sm)) {
        display: flex;
        justify-content: space-between;
    }

    .image-container {
        height: 200px;
        margin-bottom: 25px;
        
        @media (min-width: breakpoint(sm)) {
            height: 250px;
            width: 35%;
            margin: 0;
            max-width: 350px;
        }

        @media (min-width: breakpoint(md)) {
            height: 350px;
        }       

        @media (min-width: breakpoint(lg)) {
            height: 375px;
        }
    }

    .side-text {
        box-sizing: border-box;
        @media (min-width: breakpoint(sm)) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 65%;
            padding-left: 10%;
        }

        @media (min-width: breakpoint(md)) {
            padding-left: 12%;
            padding-right: 10%;
        }
    }
}