@import '../../../../styles/global.variables.scss';

.car-slide {
    display: block;
    overflow: hidden;
    position: relative;
    max-width: 350px;
    margin: 0 auto;

    .car-image {
        // transform: scaleX(-1);
        width: 100%;
        // width: 175%;
        // margin-top: 28px;

        &.desktop {
            display: none;
        }

        &.mobile {
            
        }
    }

    

    .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

    .car-name {
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    .car-year {
        width: 63%;
    }

    .availabilty {
        font-size: px-to-rem(14px);
        display: block;
        margin-bottom: 2px;
    }
}